@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    scroll-padding-top: 7vh;
    scroll-behavior: smooth;
    width: 100vw;
}

.select-disable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'Code Next Bold';
    src: url(../assets/fonts/code_next/CodeNext-Trial-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'Code Next Regular';
    src: url(../assets/fonts/code_next/CodeNext-Trial-Regular.otf);
    font-weight: normal;
}

[element-anime] {
    opacity: 0;
    transition: .7s;
    z-index: -1;
}

[element-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    z-index: 1;
}

[element-anime="appear"] {
    transform: translate3d(0, 0, 0);
}

[element-anime="top"] {
    transform: translate3d(0, -150px, 0);
}

[element-anime="left"] {
    transform: translate3d(-150px, 0, 0);
}

[element-anime="right"] {
    transform: translate3d(150px, 0, 0);
}

[element-anime="bottom"] {
    transform: translate3d(0, 150px, 0);
}

[element-anime="bottomLeft-to-topRight"] {
    transform: translateY(100px) translateX(-100px);
}

[element-anime="topLeft-to-bottomRight"] {
    transform: translateY(-100px) translateX(-100px);
}

body {
    width: 100vw;
    height: auto;
    color: #FFF;
    font-family: 'Plus Jakarta Sans', sans-serif;
    scrollbar-width: thin;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #00000055;
    backdrop-filter: blur();
    box-shadow: 0px 23px 50px 0px rgba(0, 0, 0, 0.29), 0px 90px 90px 0px rgba(0, 0, 0, 0.26), 0px 203px 122px 0px rgba(0, 0, 0, 0.15), 0px 362px 145px 0px rgba(0, 0, 0, 0.04), 0px 565px 158px 0px rgba(0, 0, 0, 0.01);
    border-radius: 50px;
}

body::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #747483 30%, #b4b5c4 70%);
}

a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 130vh;
    background-image: url(../assets/imgs/background-home.jpeg);
    background-size: cover;
    background-position: center;
}

header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 98vh;
    top: 0;
    left: 0;
}

header * {
    z-index: 2;
}

nav {
    background: #000000B0;
    height: 113px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem;
    top: 0;
    left: 0;
    z-index: 3;
    transition: 0.5s;
}

.logoN {
    font-family: Black Ops One;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    gap: 0px;
    opacity: 0px;
    cursor: pointer;
}

#Nav.ativa {
    justify-content: space-between;
    align-items: center;
    background-color: #000000B0;
    box-shadow: 0 8px 32px 0 rgba(00, 00, 00, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(7.5px);
    margin-top: 0;
    transition: 0.5s;
}



.navbar-options {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    gap: 3vw;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 900;
    line-height: 28.13px;
    text-align: center;

}

.navbar-options li a {
    display: inline-block;
    position: relative;
    background-image: linear-gradient(to right, #FFB800, #FFD600 50%, #FFF 50%);
    background-size: 200% 100%;
    background-position: 100%;
    font-weight: 500;
    padding: 5px 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}


.navbar-options li a:hover {
    background-position: 0;
}

.header-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 97vh;
    gap: 5vh;
}

.header-content h1 {
    width: 397px;
    height: 80px;
    gap: 0px;
    opacity: 0px;
    font-family: Black Ops One;
    font-size: 130px;
    text-align: center;
}

.header-content p {
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 280;
    line-height: 30px;
    text-align: center;


}

.swipe-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    font-family: Roboto;
    gap: 1vh;
}

.swipe-container img {
    max-width: 100px;
    animation: jump 4s ease-in-out infinite;
}

section {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 15px;
    padding: 4rem 2rem;
}

#SobreNos {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: first baseline;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/imgs/background-home.jpeg);
    height: 1700px;
}

#SobreNos:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.774);
}

.section-title {
    border: 1px 0px 0px 0px;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 900;
    background: conic-gradient(from 222.76deg at 48.5% 50%, #FFB800 -50.04deg, #F6B714 51.17deg, #C3801C 93.96deg, #FFD600 141.07deg, #C38100 185.72deg, #E5B300 259.56deg, #FFB800 309.96deg, #F6B714 411.17deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 56.25px;
    text-align: center;

}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.info-naum p {
    width: 1049px;
    height: 112px;
    font-family: Roboto;
    background: conic-gradient(from 222.76deg at 48.5% 50%, #FFB800 -50.04deg, #E1B000 43.56deg, #FFAB08 93.96deg, #FFD600 133.69deg, #FFDB5C 185.72deg, #CB9E00 248.76deg, #FFB800 309.96deg, #E1B000 403.56deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 300;
    line-height: 56.25px;
    text-align: center;
}

hr {
    position: relative;
    border: none;
    width: 110%;
    height: 2px;
    background-color: rgba(255, 184, 0, 1);
    margin: 70px 0;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding: 45px 0;

}

.section-title-servicos {
    border: 1px 0px 0px 0px;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 900;
    background: conic-gradient(from -90deg at 51.5% 39.29%, #C3C3C3 -26.32deg, #FDFDFD 38.84deg, #E2E2E2 67.45deg, #B2B2B2 229.4deg, #C3C3C3 333.68deg, #FDFDFD 398.84deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 56.25px;
    text-align: center;

}


.servicos-info {
    border: 1px solid rgba(255, 184, 0, 1);
    box-shadow: 15px 4px 15px 0px rgba(143, 143, 143, 0.21);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 333px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 35px;
    transition: 0.6s !important;
    overflow: hidden;
}

.servicos-info:hover {
    transform: translate3d(-1vw, -3vh, 0) scale(1.05) !important;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.39), 13px 24px 27px 0px rgba(0, 0, 0, 0.34), 30px 54px 37px 0px rgba(0, 0, 0, 0.20), 53px 95px 44px 0px rgba(0, 0, 0, 0.06), 82px 149px 48px 0px rgba(0, 0, 0, 0.01) !important;
    transition: 0.6s !important;
    cursor: default;
}


.servicos-info img {
    position: relative;

}

.servicos-info .info-card {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: center;
    flex-direction: column;
    background: conic-gradient(from -90deg at 51.5% 39.29%, #CDCDCD -100.44deg, #AAAAAA 41.06deg, #9D9D9D 118.46deg, #989898 194.76deg, #CDCDCD 259.56deg, #AAAAAA 401.06deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info-card p {
    padding: 20px;
}

#parceiros {
    position: relative;
    flex-direction: column;
    justify-content: first baseline;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/imgs/background-home.jpeg);
    height: 700px;

}

#parceiros:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.774);
}


.ver-mais {
    display: flex;
    justify-content: right;
    font-weight: bold;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 900;
    line-height: 28.13px;
    text-align: left;
}

.ver-mais li a {
    right: 150px;
    top: 25px;
    position: relative;
    bottom: 20px;
    background-image: linear-gradient(to right, #FFB800, #FFD600 50%, #FFF 50%);
    background-size: 200% 100%;
    background-position: 100%;
    font-weight: 500;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.ver-mais li a:hover {
    background-position: 0;
}

.cards-parceiros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 45px 0;

}

.parceiros-info {
    border: 1px solid rgba(255, 184, 0, 1);
    box-shadow: 15px 4px 15px 0px rgba(143, 143, 143, 0.21);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 364px;
    height: 230px;
    background-color: rgba(0, 0, 0, 1);
    transition: 0.6s !important;
    overflow: hidden;
}


.parceiros-info:hover {
    transform: translate3d(-1vw, -3vh, 0) scale(1.05) !important;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.39), 13px 24px 27px 0px rgba(0, 0, 0, 0.34), 30px 54px 37px 0px rgba(0, 0, 0, 0.20), 53px 95px 44px 0px rgba(0, 0, 0, 0.06), 82px 149px 48px 0px rgba(0, 0, 0, 0.01) !important;
    transition: 0.6s !important;
    cursor: default;
}

#contratar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    height: 1100px;
    gap: 30px;

}

#contratar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.774);
}

.card-contratar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 45px 0;

}

.contratar-info {
    border: 1px solid rgba(255, 184, 0, 1);
    box-shadow: 15px 4px 15px 0px rgba(143, 143, 143, 0.21);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 655.18px;
    height: 454.83px;
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden;
}

.contratar-title {
    border: 1px 0px 0px 0px;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 900;
    background: conic-gradient(from -90deg at 51.5% 39.29%, #C3C3C3 -26.32deg, #FDFDFD 38.84deg, #E2E2E2 67.45deg, #B2B2B2 229.4deg, #C3C3C3 333.68deg, #FDFDFD 398.84deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 56.25px;
    text-align: center;

}

.contratar-title span {
    background: conic-gradient(from 222.76deg at 48.5% 50%, #FFB800 -50.04deg, #F6B714 51.17deg, #C3801C 93.96deg, #FFD600 141.07deg, #C38100 185.72deg, #E5B300 259.56deg, #FFB800 309.96deg, #F6B714 411.17deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#contratar a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: rgba(253, 253, 253, 1);
    width: 503px;
    height: 88px;
    background: linear-gradient(90deg, #D39904 8%, #A47600 29%, #8C5C00 48%, #D18A00 69%, #E49600 85%, #F2CC00 100%);
    border-radius: 15px;
    cursor: pointer;
}


#Footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 30vh;
    background-image: url(../assets/waves/wave-bottom-projeto.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
}

footer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background: black;
    gap: 15px;
}

.container-content {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50vh;
    gap: 10vw;
    padding: 1rem 4rem;
}

footer hr {
    position: relative;
    border: none;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 184, 0, 1);
   
}

.container-content img {
    align-self: flex-start;
    max-width: 160px;
    width: auto;
    height: auto;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2vw;
}

.footer-content ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width: 33%;
    height: 100%;
    font-size: 15px;
    font-weight: 500;
}

.footer-content ul li,
.footer-content ul li a {
    color: #FFF;
    cursor: pointer;
}

.footer-content ul li:first-of-type {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    -webkit-text-stroke-width: .6px;
    -webkit-text-stroke-color: #FFF;
    margin-bottom: 2px;
    cursor: auto;
}

.sociais {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}