@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    width: 100vw;
    height: 100vh;
    font-family: Roboto;
    background-image: url(../assets/imgs/fundo-escurecido.png);
    background-size: cover;
    color: #FFF;

    overflow-x: hidden;
    background-size: cover;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.select-disable {
    user-select: none;
}

nav {
    background: #000000B0;
    height: 113px;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem;
    top: 0;
    left: 0;
    z-index: 3;
    transition: 0.5s;
    list-style-type: none;
}

.navbar-options {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 900;
    line-height: 28.13px;
    text-align: center;
    list-style-type: none;
}

.navbar-options li a {
    list-style-type: none;
    display: inline-block;
    background-image: linear-gradient(to right, #FFB800, #FFD600 50%, #FFF 50%);
    background-size: 200% 100%;
    background-position: 100%;
    font-weight: 500;
    padding: 5px 0;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;

}

.navbar-options li a:hover {
    background-position: 0;
}

.logoN {
    font-family: Black Ops One;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    gap: 0px;
    opacity: 0px;
    cursor: pointer;
}




body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #00000055;
}

body::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #747483 30%, #b4b5c4 70%);
}



.banner {
    display: flex;
    gap: 10px;
    height: fit-content;
    padding: 0;
    color: rgb(255, 255, 255);
    background-size: cover;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.validarconta {
    font-size: roboto;
    font-weight: 900;

    display: flex;
    flex-direction: column;
    align-items: center;

}

input {
    width: 300px;
    height: 40px;
    border-color: white;
    border-radius: 0.3rem;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    font-size: 20px;
    width: 142px;
    height: 38px;
    left: 280px;
    top: 200px;

    background: linear-gradient(90deg, #D39904 8%, #A47600 29%, #8C5C00 48%, #D18A00 69%, #E49600 85%, #F2CC00 100%);
    border-radius: 7px;

}
button:hover {
    background: linear-gradient(90deg, #D39904 8%, #A47600 29%, #8C5C00 48%, #D18A00 69%, #E49600 85%, #F2CC00 100%);
    background-size: 200% 100%;
    background-position: 100%;
    transition: 0.5s;
   cursor: pointer;
}

h1 {
    /* LOGIN */
width: 801px;
height: 56px;
left: 310px;


font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;
text-align: center;

background: conic-gradient(from 222.76deg at 48.5% 50%, #FFB800 -50.04deg, #F6B714 51.17deg, #C3801C 93.96deg, #FFD600 141.07deg, #C38100 185.72deg, #E5B300 259.56deg, #FFB800 309.96deg, #F6B714 411.17deg);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;


}
h2 {
width: 801px;
height: 56px;
left: 310px;


font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 56px;
text-align: center;

background: conic-gradient(from 222.76deg at 48.5% 50%, #FFB800 -50.04deg, #F6B714 51.17deg, #C3801C 93.96deg, #FFD600 141.07deg, #C38100 185.72deg, #E5B300 259.56deg, #FFB800 309.96deg, #F6B714 411.17deg);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;
}