@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 7vh;
    scroll-behavior: smooth;
    width: 100vw;
}

.select-disable {
    user-select: none;
}

body {
    width: 100vw;
    height: auto;
    color: #FFF;
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow-x: hidden;
    background-image: url(../assets/imgs/fundo-ambientado-de-barbearia-escuro.png);
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #00000055;
}

body::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #747483 30%, #b4b5c4 70%);
}

a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logoN {
    font-family: 'Black Ops One', sans-serif;
    /* Corrigido o nome da fonte */
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.section-title {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 900;
    background: conic-gradient(from 222.76deg at 48.5% 50%, #FFB800 -50.04deg, #F6B714 51.17deg, #C3801C 93.96deg, #FFD600 141.07deg, #C38100 185.72deg, #E5B300 259.56deg, #FFB800 309.96deg, #F6B714 411.17deg);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 56.25px;
    text-align: center;
    list-style-type: none;
}

#parceiros {

    display: flex;
    /* Removido o flex-direction: column */
    justify-content: center;
    /* Alterado para center */
    width: 100%;
    background-size: cover;
    flex-wrap: wrap;
    background-position: center;
    min-height: 100vh;
    /* Alterado para min-height */
}

.ver-filto {
    display: flex;
    flex-direction: column;
    align-items: wrap;
    margin-left: 120px;
    margin-top: 150px;


}

.select-estrel {
    width: 200px;
    /* Ajuste a largura do select conforme necessário */
}


.select-estrel {
    width: 10%;
    border: 1px #001a2441 solid;
    border-radius: 10px;
    padding: 10px;
    background-color: #e7fbff;
    color: #001a24;
    font-size: 15px;
    box-shadow: 0px 2px 0px 0px #00000056;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.5s;
}

.cards-parceiros {
    display: flex;
    flex-wrap: wrap;
    /* Adicionado para quebrar em várias linhas */
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 45px 0;
}

.parceiros-info {
    border: 1px solid rgba(255, 184, 0, 1);
    box-shadow: 15px 4px 15px 0px rgba(143, 143, 143, 0.21);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 364px;
    height: 230px;
    background-color: rgba(0, 0, 0, 1);
    transition: 0.6s !important;
    overflow: hidden;
}

.parceiros-info:hover {
    transform: translate3d(-1vw, -3vh, 0) scale(1.05) !important;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.39), 13px 24px 27px 0px rgba(0, 0, 0, 0.34), 30px 54px 37px 0px rgba(0, 0, 0, 0.20), 53px 95px 44px 0px rgba(0, 0, 0, 0.06), 82px 149px 48px 0px rgba(0, 0, 0, 0.01) !important;
    transition: 0.6s !important;
    cursor: default;
}