
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body {
    width: 100%;
    height: 100vh;
    font-family: Roboto;
    background-image: url(../../utils/assets/fundo-escurecido.png);
    background-size: cover;
    color: #FFF;

    overflow-x: hidden;
    background-size: cover;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.select-disable {
    user-select: none;
}


body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #00000055;
}

body::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #747483 30%, #b4b5c4 70%);
}



.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    background-size: cover;
    height: 100vh;
    width: 100%;

}

.validarconta {
    font-size: roboto;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}
.validarconta p {
    width: 55%;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    background: conic-gradient(from -90deg at 51.5% 39.29%, #C3C3C3 -26.32deg, #FDFDFD 38.84deg, #E2E2E2 67.45deg, #B2B2B2 229.4deg, #C3C3C3 333.68deg, #FDFDFD 398.84deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    }
.validarconta input {
    text-align: left;
    width: 80%;
    padding: 1rem;
    font-size: 16px;
    display: flex;
    font-family: Roboto;
    width: 445px;
    height: 38px;
    background: #ffffff;
    border-radius: 6px;
}

.input-form{
    width: 100%;
    height: 38px;
    border: 2px solid gray;
    border-radius: 6px;
    padding-left: 5px;
}

.input-error {
    width: 100%;
    height: 38px;
    border: 2px solid red;
    border-radius: 6px;
    padding-left: 5px;
}


.validarconta button {
    
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    width: 162px;
    height: 43px;
   color: #b4b5c4;
    background: linear-gradient(90deg, #D39904 8%, #A47600 29%, #8C5C00 48%, #D18A00 69%, #E49600 85%, #F2CC00 100%);
    border-radius: 15px;
    transition: 1s;
    cursor: pointer;

}
@keyframes MoveBackgroundPosition {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


.validarconta button:hover {
    border: solid 2px #ffffff93;
    cursor: pointer;
    transition: 1s;
}

.validarconta h1 {
    width: 801px;
    height: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    background: conic-gradient(from 222.76deg at 48.5% 50%, #FFB800 -50.04deg, #F6B714 51.17deg, #C3801C 93.96deg, #FFD600 141.07deg, #C38100 185.72deg, #E5B300 259.56deg, #FFB800 309.96deg, #F6B714 411.17deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
