
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    scroll-padding-top: 7vh;
    scroll-behavior: smooth;
    width: 100%;
}

.select-disable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* [element-anime] {
    opacity: 0;
    transition: .7s;
    z-index: -1;
} */

[element-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    z-index: 1;
}

[element-anime="appear"] {
    transform: translate3d(0, 0, 0);
}

[element-anime="top"] {
    transform: translate3d(0, -150px, 0);
}

[element-anime="left"] {
    transform: translate3d(-150px, 0, 0);
}

[element-anime="right"] {
    transform: translate3d(150px, 0, 0);
}

[element-anime="bottom"] {
    transform: translate3d(0, 150px, 0);
}

[element-anime="bottomLeft-to-topRight"] {
    transform: translateY(100px) translateX(-100px);
}

[element-anime="topLeft-to-bottomRight"] {
    transform: translateY(-100px) translateX(-100px);
}

body {
    width: 100%;
    height: auto;
    color: #FFF;
    font-family: 'Plus Jakarta Sans', sans-serif;
    scrollbar-width: thin;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #00000055;
    backdrop-filter: blur();
    box-shadow: 0px 23px 50px 0px rgba(0, 0, 0, 0.29), 0px 90px 90px 0px rgba(0, 0, 0, 0.26), 0px 203px 122px 0px rgba(0, 0, 0, 0.15), 0px 362px 145px 0px rgba(0, 0, 0, 0.04), 0px 565px 158px 0px rgba(0, 0, 0, 0.01);
    border-radius: 50px;
}

body::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #747483 30%, #b4b5c4 70%);
}

a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 130vh;
    background-image: url(../../utils/assets/background-home.jpeg);
    background-size: cover;
    background-position: center;
}

header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 98vh;
    top: 0;
    left: 0;
}

header * {
    z-index: 2;
}

.header-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 97vh; 
}

.header-content h1 {
    font-family: Black Ops One;
    font-size: 128px;
    font-weight: 400;
    text-align: center;
}

.header-content p {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 280;
    line-height: 30px;
    text-align: center;
}


section {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 15px;
    padding: 4rem 2rem;
}

.SobreNos {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    text-align: center;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../../utils/assets/background-home.jpeg);
    height: 1600px;
}

.SobreNos:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.774);
}

.section-title {
    border: 1px 0px 0px 0px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 900;
    background: conic-gradient(from 222.76deg at 48.5% 50%, #FFB800 -50.04deg, #F6B714 51.17deg, #C3801C 93.96deg, #FFD600 141.07deg, #C38100 185.72deg, #E5B300 259.56deg, #FFB800 309.96deg, #F6B714 411.17deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 56.25px;
    text-align: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.info-naum p {
    width: 1049px;
    height: 112px;
    font-family: Roboto;
    background: conic-gradient(from 222.76deg at 48.5% 50%, #FFB800 -50.04deg, #E1B000 43.56deg, #FFAB08 93.96deg, #FFD600 133.69deg, #FFDB5C 185.72deg, #CB9E00 248.76deg, #FFB800 309.96deg, #E1B000 403.56deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 300;
    line-height: 56.25px;
    text-align: center;
}

hr {
    position: relative;
    border: none;
    width: 110%;
    height: 2px;
    background-color: rgba(255, 184, 0, 1);
    margin: 70px 0;
}

.container-cards {
    display: flex;
    flex-direction: column;
    gap: 10vh;
}


.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10vw;
    z-index: 1;
}

.section-title-servicos {
    border: 1px 0px 0px 0px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 900;
    background: conic-gradient(from -90deg at 51.5% 39.29%, #C3C3C3 -26.32deg, #FDFDFD 38.84deg, #E2E2E2 67.45deg, #B2B2B2 229.4deg, #C3C3C3 333.68deg, #FDFDFD 398.84deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 56.25px;
    text-align: center;
}


.servicos-info {
    border: 1px solid rgba(255, 184, 0, 1);
    box-shadow: 15px 4px 15px 0px rgba(143, 143, 143, 0.21);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 300px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 35px;
    transition: 0.6s !important;
    overflow: hidden;
    
}


.servicos-info:hover {
    transform: translate3d(-1vw, -3vh, 0) scale(1.05) !important;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.39), 13px 24px 27px 0px rgba(0, 0, 0, 0.34), 30px 54px 37px 0px rgba(0, 0, 0, 0.20), 53px 95px 44px 0px rgba(0, 0, 0, 0.06), 82px 149px 48px 0px rgba(0, 0, 0, 0.01) !important;
    transition: 0.6s !important;
    cursor: default;
}


.servicos-info img {
    position: relative;

}

.servicos-info .info-card {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: center;
    flex-direction: column;
    background: conic-gradient(from -90deg at 51.5% 39.29%, #CDCDCD -100.44deg, #AAAAAA 41.06deg, #9D9D9D 118.46deg, #989898 194.76deg, #CDCDCD 259.56deg, #AAAAAA 401.06deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info-card p {
    padding: 20px;
}


.background {
    background-size: cover;
    background-position: center;
    background-image: url(../../utils/assets/background-home.jpeg);
}

.parceiros {
    position: relative;
    flex-direction: column;
    justify-content: first baseline;
    width: 100%;
    height: 600px;
}

.parceiros:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.774);
}

.parceiros .section-title {
    border: 1px 0px 0px 0px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 900;
    background: conic-gradient(from 222.76deg at 48.5% 50%, #FFB800 -50.04deg, #F6B714 51.17deg, #C3801C 93.96deg, #FFD600 141.07deg, #C38100 185.72deg, #E5B300 259.56deg, #FFB800 309.96deg, #F6B714 411.17deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 56.25px;
    text-align: center;
    z-index: 1;
}


.ver-mais {
    display: flex;
    justify-content: right;
    font-weight: bold;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 900;
    line-height: 28.13px;
    text-align: left;
}

.ver-mais li a {
    right: 150px;
    top: 25px;
    position: relative;
    bottom: 20px;
    background-image: linear-gradient(to right, #FFB800, #FFD600 50%, #FFF 50%);
    background-size: 200% 100%;
    background-position: 100%;
    font-weight: 500;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.ver-mais li a:hover {
    background-position: 0;
}

.cards-parceiros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 45px 0;
    z-index: 1;
}

.parceiros-info {
    border: 1px solid rgba(255, 184, 0, 1);
    box-shadow: 15px 4px 15px 0px rgba(143, 143, 143, 0.21);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 364px;
    height: 230px;
    background-color: rgba(0, 0, 0, 1);
    transition: 0.6s !important;
    overflow: hidden;
}


.parceiros-info:hover {
    transform: translate3d(-1vw, -3vh, 0) scale(1.05) !important;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.39), 13px 24px 27px 0px rgba(0, 0, 0, 0.34), 30px 54px 37px 0px rgba(0, 0, 0, 0.20), 53px 95px 44px 0px rgba(0, 0, 0, 0.06), 82px 149px 48px 0px rgba(0, 0, 0, 0.01) !important;
    transition: 0.6s !important;
    cursor: default;
}

.contratar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    gap: 30px;
}

.contratar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.774);
}

.card-contratar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
    z-index: 1;

}

.contratar-info {
    border: 1px solid rgba(255, 184, 0, 1);
    box-shadow: 15px 4px 15px 0px rgba(143, 143, 143, 0.21);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 530.91px;
    height: 368.57px;
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden;
}

.contratar-title {
    border: 1px 0px 0px 0px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 900;
    background: conic-gradient(from -90deg at 51.5% 39.29%, #C3C3C3 -26.32deg, #FDFDFD 38.84deg, #E2E2E2 67.45deg, #B2B2B2 229.4deg, #C3C3C3 333.68deg, #FDFDFD 398.84deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 56.25px;
    text-align: center;
    z-index: 1;

}

.contratar-title span {
    background: conic-gradient(from 222.76deg at 48.5% 50%, #FFB800 -50.04deg, #F6B714 51.17deg, #C3801C 93.96deg, #FFD600 141.07deg, #C38100 185.72deg, #E5B300 259.56deg, #FFB800 309.96deg, #F6B714 411.17deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.contratar a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 56px;
    color: rgba(253, 253, 253, 1);
    width: 276px;
    height: 60px;
    background-image: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #f5e781 35%, #f5f591 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
    background-size: 150%;
    border-radius: 15px;
    filter: drop-shadow(0 0 1px rgba(255, 200, 0, .3));
    animation: MoveBackgroundPosition 6s ease-in-out infinite;
    transition: 1s;
    cursor: pointer;
}

@keyframes MoveBackgroundPosition {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


.contratar a:hover {
    border: solid 2px #ffffff93;
    cursor: pointer;
    transition: 1s;
}