Nav {
    background: #000000B0;
    font-size: 24px;
    height: 113px;
    gap: 50vh;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 3.5rem;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.5s;
}

Nav a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.logoN {
    font-family: Black Ops One;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    gap: 0px;
    cursor: pointer;
}

#Nav.ativa {
    justify-content: space-around;
    align-items: center;
    background-color: #000000B0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(7.5px);
    margin-top: 0;
    opacity: 1;  /* A propriedade opacity deve estar aqui e com o valor correto */
    transition: 0.5s;
}



.navbar-options {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    gap: 3vw;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 900;
    line-height: 28.13px;
    text-align: center;
    list-style: none;
}

.navbar-options li a {
    display: inline-block;
    position: relative;
    background-image: linear-gradient(to right, #FFB800, #FFD600 50%, #FFF 50%);
    background-size: 200% 100%;
    background-position: 100%;
    font-weight: 500;
    padding: 5px 0;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}


.navbar-options li a:hover {
    background-position: 0;
}